body, html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}
  
.parallax {  
    /* Full height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-cena {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cena.jpg");
}

.title-container {
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0 1rem;       
}

.title-text {
   color: #eee; 
   font-size: 64px;   
   font-weight: bold;
}

.title-info {
    display: inline;
    margin: 0;
    color: #eee;
    font-weight: lighter;
    font-size: 32px;    
}

.nav {    
    width: 100%;
    background-color: #4d4d4d;
    /*background: rgba(77, 77, 77, 0.3);*/
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.nav > .nav-header > .nav-title {
    font-size: 22px;
    padding: 1rem;
    color: #fff; 
    margin-right: 1rem;
}

.img-title {
    width: 180px;
    margin: -25px 0px 0px -5px;
}

.nav > .nav-links {
    font-size: 18px;
}

.nav > #nav-check {
    display: none;
}

.nav > .nav-btn > label {
    display: flex;
    flex-direction: column;    
    padding: 10px 14px 0;
}

.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; 
}

.nav > .nav-links {
    position: absolute; 
    display: flex; 
    flex-direction: column;    
    width: calc(100vw - 1rem);
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden; 
    top: 57px;
    left: 0px; 
    padding-left: 1rem;
}

.nav > .nav-links > a {
    color: #efefef;
    font-size: 18px;
    margin: 0.7rem 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.nav > .nav-links > a:hover {
    color: rgba(0, 0, 0, 0.3);
} 
.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 57px);
    overflow-y: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.img-comida {
    width: 100%;
    height: auto;    
}

.info-el-cuervo {    
    /*display: flex;
    justify-content: space-around;
    padding: 5rem 2rem;*/
}

.info-title {
    text-align: center;
    color: #eee;    
    font-size: 26px;
    padding: 0 2rem;
}
.info-subtitle{
    text-align: center;
    color: #f5d555;    
    font-size: 22px;
    font-weight: lighter;
    padding: 0 2rem;
}

.info-text {
    color: #eee; 
    padding: 0 2rem;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

/*
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}
*/

@media (min-width:420px) {
    .title-container {        
        padding: 0 7%;    
    }
    
    .title-text {    
       font-size: 80px;          
    }   

} 
@media (min-width:600px) {
    .title-container {        
        padding-left: 20%;    
    }    
    .title-text {    
       font-size: 100px;          
    }
    
    .nav {
        justify-content: start;
    }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links > a {
        display: inline; 
        text-decoration: none;
        color: #efefef;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    .nav > .nav-links {
        position: static; 
        flex-direction: row;
        width: initial;
        background-color: transparent;
        height: 100%;        
        overflow-y: visible; 
    }
/*
    nav > #nav-check:not(:checked) ~ .nav-links {
        height: 20px;
    }
    */

} 

